[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ttkbootstrap = "*"
pydub = "*"
moviepy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"

[pipenv]
disable_pip_input = true
